body {
    background-color:black;
    color: white;
}
header, main, nav, footer {
    text-align: center;
}
nav a {
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration:none;
    color: white;
    
}
nav a:hover{
    border-bottom: 2px white;
    transition: .9s;
    font-size: 2em;
    
}

figure, div { 
    float:center;
}

#myPicture, #welcomeText{
    float:center;
}
table {
    margin:0px auto;
}
td {
    padding-right: 10px;
    font-size: 1.2em;
}
td strong {
    color:white ;
}
#table-header {
    background-color: black;
}
.table-row {
    background-color: black;
}
ul {
    text-align:center;
    padding-left: 15px;
}
.hobby {
    color: orange;
    float: left;
}

footer {
    clear:left;
}