body{
   
   background-image: url("source.gif");
   color:red;
}
header, main, nav, footer {
    text-align: center;
}
nav a {
    padding:15px;
     padding-bottom:4px;
    font-size: 1.8em;
    text-decoration:none;
    color: white;
}
nav a: hover {
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;
}
