
body {
   background:black;
   color:white;
 }
 
header, main, nav, footer {
    text-align:center ;
}

p {
    font-family: "Times New Roman", Times;
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}
a[target="_blank"] { 
    background-color: black;
}
nav a {
    padding:15px;
     padding-bottom:4px;
    font-size: 1.8em;
    text-decoration:none;
    color: white;
}
nav a:hover {
    border-bottom:2px solid black;
    font-size: 2em;
    transition: .9s;
    
}
ul {
    text-align:center;
    padding-left: 15px;
    list-style-type: none;
}

.hackerType {
    color: white;
   text-align:center;
}


a:link {
    color: blue;
}


a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: blue;
}

table {
    margin:0px auto;
}
td {
    padding-right: 10px;
    font-size: 1.2em;
}
td strong {
    color:white;
}
#table-header {
    background-color: black;
}
.table-row {
    background-color: black;
}
footer {
    clear: left;
}


